$defaultColor   = #BAD0EF
$blueColor      = #BAD0EF
$greenColor     = #81C977
$brownColor     = #B4805B
$tealColor      = #61E0DF // #97E6D3
$greyColor      = #b4b4b4

// New colors
$aColor         = #9EDFB5
$bColor         = #DFA57C // brown ?
$cColor         = #E6BC7E
$dColor         = #D5D298
$eColor         = #98D5A7
$fColor         = #98D5BA
$gColor         = #61CDDB // teal ?
$hColor         = #8FB1DD
$iColor         = #A8B5E7
$jColor         = #AF9EDA
$kColor         = #DA9EC7
$lColor         = #DA9EAF
$mColor         = #DA9EA1 // red ?
$nColor         = #DAA39E
$oColor         = #DAAF9E
$pColor         = #DABB9E
$qColor         = #DAC79E
$rColor         = #A5DA9E
$sColor         = #9EDAB1
$tColor         = #9EC4DA 
$uColor         = #B6B4EB
$vColor         = #DD9DAC
$wColor         = #BAA8E6
$xColor         = #B5E6A8
$yColor         = #E6D4A8
$zColor         = #E6CBA8
$a1Color        = #E6B7A8

$primaryColor   = $defaultColor
$lightGrey      = #b0b0b0
$faintGrey      = #f0f0f0
$linkColor      = darken($primaryColor, 20%)
$textColor      = #969696

$normalFont     = 300
$boldFont       = 400
$heavyFont      = 700

border-radius()
  -moz-border-radius: arguments
  -webkit-border-radius: arguments
  border-radius: arguments

/* Vertical Background Gradient */
vbg-gradient(fc = #FFF, tc = #FFF)
  background: fc
  background: -webkit-gradient(linear, left top, left bottom, from(fc), to(tc))
  background: -moz-linear-gradient(top, fc, tc)
  background: linear-gradient(top, fc, tc)

/* Horizontal Background Gradient */
hbg-gradient(fc = #FFF, tc = #FFF) 
  background: fc
  background: -webkit-gradient(linear, left top, right top, from(fc), to(tc))
  background: -moz-linear-gradient(left, fc, tc)
  background: linear-gradient(left, fc, tc)

box-shadow()
  -moz-box-shadow: arguments
  -webkit-box-shadow: arguments
  box-shadow: arguments

inset-box-shadow()
  -moz-box-shadow: inset arguments
  -webkit-box-shadow: inset arguments
  box-shadow: inset arguments

box-flex(s = 0)
  -webkit-box-flex: s
  -moz-box-flex: s
  box-flex: s

hbox()
  display: -webkit-box
  -webkit-box-orient: horizontal
  -webkit-box-align: stretch
  -webkit-box-pack: start
  
  display: -moz-box
  -moz-box-orient: horizontal
  -moz-box-align: stretch
  -moz-box-pack: start

vbox()
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-box-align: stretch

  display: -moz-box
  -moz-box-orient: vertical
  -moz-box-align: stretch

border-box()
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

transition(s = 0.3s, o =  opacity, t = linear)
  -webkit-transition: s o t
  -moz-transition: s o t
  transition: s o t

ellipsis()
  text-overflow: ellipsis
  overflow: hidden
  white-space:nowrap

inset-line(opacity = 0.4, size = 1px)
  inset-box-shadow(0, size, 0, rgba(255, 255, 255, opacity))

outset-line(opacity = 0.4, size = 1px)
  box-shadow(0, size, 0, rgba(255, 255, 255, opacity))

box-pack(type = center)
  -webkit-box-pack: type
  -moz-box-pack: type
  box-pack: type
  
transform(tr)
  -webkit-transform: tr
  -moz-transform: tr
  -ms-transform: tr
  -o-transform: tr
  transform: tr
  
hacel()
  transform(translate3d(0,0,0))

arrow(direction = 'right', size = 10px, color = #666, width = 0.53em, length = 1em)
  /*
   * In Internet Explorer, The"border-style: dashed" will never be
   * rendered unless "(width * 5) >= border-width" is true.
   * Since "width" is set to "0", the "dashed-border" remains
   * invisible to the user, which renders the border just like how
   * "border-color: transparent" renders.
   */
  border-style: dashed
  border-color: transparent
  border-width: width
  display: -moz-inline-box
  display: inline-block
  /* Use font-size to control the size of the arrow. */
  font-size: size
  height: 0
  line-height: 0
  position: relative
  vertical-align: middle
  width: 0
  
  border-{direction}-width: length;
  border-{direction}-style: solid;
  border-{direction}-color: color;
  {direction}: 0.25em;

clearfix()
  *zoom: 1
  &:before, &:after
    display: table
    content: ""
  &:after
    clear: both