/* Responsive styles */

// Portrait phones and down
// @media (max-width: 320px)


// Larger phones to smaller landscape phones, and down
@media (max-width: 480px)

  body
    font-size: 14px

  h1
    font-size: 2.5em
  h2
    font-size: 1.8em
  h3
    font-size: 1.3em
  h4
    font-size: 1.1em

// Odd one
// @media (max-width: 600px)
  

// Landscape on larger phone to smaller tablet
@media (min-width: 481px) and (max-width: 767px)
  
  h1
    font-size: 3em
  h2
    font-size: 2em
  h3
    font-size: 1.5em
  h4
    font-size: 1.2em


// Portrait tablet to landscape and desktop
// @media (min-width: 768px) and (max-width: 979px)


// Large desktop
// @media (min-width: 1200px)

