@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700')

$tealColor  = #61E0DF // #97E6D3
$greenColor = #81C977
$brownColor = #B4805B
$blueColor  = #BAD0EF
$greyColor  = #b4b4b4

$primaryColor = $blueColor
$lightGrey    = #c4c4c4
$linkColor    = darken($primaryColor, 20%)
$textColor    = #848484

// apply a natural box layout model to all elements
*
  border-box()

body
  margin: 0
  padding: 0
  background: #f3f3f3
  color: $textColor
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight: 300
  font-size: 16px
  letter-spacing: 0em
  word-spacing: 0.2em
  line-height: 1.5em

h1, h2, h3, h4, h5, h6
  color: darken($textColor, 4%)
  font-weight: 300
  line-height: 1.2em

h1
  font-size: 3.5em
h2
  font-size: 2.5em
h3
  font-size: 2em
h4
  font-size: 1.5em
h5
  font-size: 1.125em
  font-weight: 400
h6
  font-size: 0.875em
  font-weight: 400
  line-height: 1.5em

a
  color: $linkColor
  text-decoration: none

  &:hover
    text-decoration: none
  
  &.button
    display: inline-block
    padding: 10px 20px
    background: $primaryColor
    color: #fff
    font-weight: 400

    &.large
      font-size: 2em
      line-height: 1.2em
      padding: 14px 30px

b
  font-weight: 700

strong
 font-weight: 400 

small
  font-size: 0.875em
  color: $lightGrey

blockquote
  position: relative
  border-right: 10px solid $primaryColor
  padding: 0 1.5em 0 2.5em
  margin: 1.5em 0
  text-align: right
  font-size: 1.125em
  font-weight: 300
  &:before
    content: '“'
    position: absolute
    top: 0.2em
    left: 0
    color: $primaryColor
    font-size: 6em
    font-weight: 700

img
  display: block
  border: 0

.app-logo
  padding: 20px 0
  margin-bottom: 30px
  font-size: 3.25em
  line-height: 0.8em
  font-weight: 400
  color: #fff
  letter-spacing: -0.07em
  word-spacing: 0em
  white-space: nowrap
  text-align: center

.site-name
  margin: 0 0 0.8em -0.05em
  font-size: 5.25em
  line-height: 0.8em
  font-weight: 300
  color: $lightGrey
  letter-spacing: -0.07em
  word-spacing: 0em
  white-space: nowrap
  a
    color: $lightGrey
  b, strong
    color: $primaryColor

span.label
  font-weight: 300
  color: $lightGrey

.main.nav
  position: absolute
  top: 0
  left: 0
  bottom: 0
  width: 150px
  background: $primaryColor
  overflow: auto

  > ul
    list-style-type: none
    padding: 0
    margin: 0

    > li
      padding: 0

      a
        display: block
        padding: 5px 20px
        font-weight: 400
        color: #fff


.main.stack
  position: absolute
  top: 0
  left: 150px
  right: 20%
  bottom: 0
  background: #fff
  overflow: hidden

  .panel
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow: auto
    padding: 20px 30px

.stack > *:not(.active)
  display: none

section.essays

  > ul.list
    list-style-type: none
    margin: 0
    padding: 0

    li.item
      margin-bottom: 1em
      
      .meta
        font-size: 0.875em
        > a
          display: inline-block
          margin-right: 2em

