/* Admin theme.styl CSS */

$availableThemeColors = 'theme-default' $defaultColor, 'theme-blue' $blueColor, 'theme-green' $greenColor, 'theme-brown' $brownColor, 'theme-teal' $tealColor, 'theme-grey' $greyColor

$navbarWidth  = 180px

#app
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

.site-name
  font-size: 1.65em
  line-height: 1em
  font-weight: $normalFont
  color: #C4C4C4
  letter-spacing: -0.07em
  word-spacing: 0em
  white-space: nowrap
  a
    color: $lightGrey
  // b, strong
  //   color: $primaryColor

  // loop through all available theme colors
  for c in $availableThemeColors
    &.{c[0]}
      b, strong
        color: c[1]

span.label
  font-weight: $normalFont
  color: $lightGrey

.filter-box
  position: absolute
  top: 0
  right: 0
  width: 35%
  background: #fff
  z-index: 10

  .filter-input
    display: block
    width: 100%
    color: $lightGrey
    background: #fff
    font-size: 1.5em
    font-weight: $normalFont
    padding: 5px 40px 5px 10px
    margin: 0
    border: 1px solid $faintGrey
    outline: none

  .clear-filter
    display: none
    position: absolute
    top: 0
    right: 0
    width: 20px
    height: 20px
    background: #D3A924
    padding: 0
    margin: 10px
    color: white
    text-align: center
    line-height: 1em
    cursor: pointer

    &.active
      display: block

  .selected-site
    padding: 10px 10px
    border: 1px solid $faintGrey
    border-top: 0
    line-height: 1em
    cursor: pointer
    -webkit-user-select: none

    .icon
      float: right
      margin: 5px 5px 0 0
      arrow('top', 10px, $lightGrey)

    &:hover
      background: lighten($faintGrey, 50%)

  ul.site-selector
    display: none
    list-style-type: none
    margin: 0
    padding: 0
    background: #fff
    border: 1px solid $faintGrey
    border-top: 0
    max-height: 500px
    overflow: auto
    -webkit-user-select: none

    li
      padding: 10px 10px
      cursor: pointer

      &:hover
        background: lighten($faintGrey, 50%)

      &.selected
        opacity: 0.5


.main.navbar
  position: absolute
  top: 0
  left: 0
  bottom: 0
  width: $navbarWidth
  padding: 0
  margin: 0
  background: $primaryColor
  overflow: auto
  -webkit-user-select: none

  .app-logo
    padding: 16px 18px
    margin-bottom: 20px
    font-size: 4.25em
    line-height: 1em
    font-weight: $boldFont
    color: #fff
    letter-spacing: -0.07em
    word-spacing: 0em
    white-space: nowrap

    a
      color: #fff

  > ul
    list-style-type: none
    padding: 0
    margin: 0

    > li
      padding: 0

      a
        display: block
        padding: 10px 20px
        font-weight: $boldFont
        color: #fff

        &:hover
          background: darken($primaryColor, 5%)

        &.active
          background: darken($primaryColor, 10%)


.main.stack
  position: absolute
  top: 0
  left: $navbarWidth
  right: 0
  bottom: 0
  min-width: 800px
  overflow: hidden

  .panel
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow: hidden

    > .panel
      background: $faintGrey
      overflow: auto

      .content
        position: relative
        float: left
        width: 65%
        min-height: 100%
        padding: 20px 3% 40px 3%
        background: #fff

      .sidebar
        float: right
        width: 35%
        padding: 20px 3%

        .top-spacer
          display: block
          height: 3em

        .buttons
          position: fixed
          width: 26%
          margin-top: -21px
          margin-left: -5px
          padding-top: 20px
          padding-bottom: 10px
          border-bottom: 1px solid #fff
          background: #F3F3F3
          box-shadow: 0 5px 0 rgba(0,0,0,0.05)
          z-index: 10

          button, .button
            margin: 0 10px 10px 0

        input[type='text'],
        input[type='search'],
        textarea,
        select
          border-color: #d3d3d3

        ::-webkit-input-placeholder
          color: #d3d3d3

      &.form
        z-index: 20


    h1
      margin: 0 0 0.5em -0.05em

      .new
        font-weight: $heavyFont
        line-height: 1em

      .count, .status
        float: right
        color: $lightGrey
        font-size: 0.5em
        font-weight: 300
        margin-left: 0.5em

    .item-title
      color: $primaryColor

    ul.list
      list-style-type: none
      margin: 0
      padding: 0
      border-top: 1px dotted $faintGrey
      clearfix()

      > li
        font-size: 1.5em
        line-height: 1.5em
        border-bottom: 1px dotted $faintGrey
        padding: 0.5em 0
        clearfix()

        .note
          font-size: 0.75em
          line-height: 1em
          color: $lightGrey
        
        .meta
          font-size: 0.75em
          line-height: 1em
          color: $lightGrey

          > div
            display: inline-block
            margin-right: 2em

          a
            color: $lightGrey
            &:hover
              text-decoration: underline

        .actions
          float: right
          font-size: 0.75em
          line-height: 2em
          color: $lightGrey

          > div
            display: inline-block
            margin-left: 2em

          a
            color: $lightGrey
            &:hover
              text-decoration: underline

    form
      margin: 0

      .heading
        color: $primaryColor
        margin: 1em 0 0.4em 0
     
      .field
        position: relative
        padding: 10px 0
        clearfix()

        label
          display: block
          padding: 5px 0
          color: $lightGrey

        input[type='text'],
        input[type='search'],
        textarea,
        select
          display: block
          width: 100%

        input[name='name'],
        input[name='name_html'],
        input[name='title'],
        input[name='code']
          font-size: 1.5em

        input[type='checkbox']
          display: inline-block
          float: left
          margin: 4px 10px 4px 0

        .field-left
          float: left
          width: 48%

        .field-right
          float: right
          width: 48%

        .site-selected
          position: absolute
          top: 42px
          right: 0
          padding-left: 10px
          background: #fff
        
        .inline
          
          label
            display: inline-block
            width: 20%
            float: left

          input[type='text'],
          input[type='search'],
          textarea,
          select
            display: block
            width: 75%
            float: right

          input[type='checkbox']
            width: auto
            float: none
            margin: 4px 10px

      .required label:after
        content: ' *'
        color: $textColor

      .error-message
        display: none
        color: #fff
        padding: 5px 10px
        background: orange

.stack .panel:not(.active)
  display: none


ul.ui-multi-select
  list-style-type: none
  padding: 0
  margin: 0
  -webkit-user-select: none

  > li
    display: inline-block
    padding: 4px 10px
    margin: 0 12px 12px 0
    max-width: 100%
    background: #fff
    border: 1px solid $faintGrey
    ellipsis()
    cursor: pointer

    &:hover
      background: lighten($faintGrey, 50%)

    &.selected
      color: $linkColor
      font-weight: $boldFont
      border-color: $primaryColor
      outline: 2px solid rgba($primaryColor, 0.5)

.ui-file-upload
  
  .dropzone
    padding: 20px
    border: 4px dashed #fff
    color: #fff
    font-size: 2em
    text-align: center
    cursor: default

  .filename
    background: #fff
    padding: 0 5px
    margin-top: -6px
    line-height: 1.7em
    text-align: center
    overflow: hidden

  ul.files-list
    list-style-type: none
    margin: 20px 0
    padding: 0

    li
      position: relative
      float: left
      max-height: 120px
      margin: 0 4% 10px 0
      overflow: hidden
      -webkit-user-select: none
      cursor: pointer

      &.selected
        outline: 4px solid $primaryColor

      > img
        width: 100%

      > div
        border: 1px solid #e3e3e3
        em
          font-weight: $boldFont
          font-size: 0.8em