/* Responsive styles */

// Portrait phones and down
// @media (max-width: 320px)


// Larger phones to smaller landscape phones, and down
@media (max-width: 480px)

  body
    font-size: 14px

  .container
    padding: 14px
    border-left-width: 8px

  h1
    font-size: 2.5em
  h2
    font-size: 1.8em
  h3
    font-size: 1.3em
  h4
    font-size: 1.1em

  .site-name
    font-size: 2.8em

  .site-tagline
    margin-bottom: 2em

  .main-nav
  .toc-nav
  .collection-nav
    margin: 4px 4px 0 0

  article

    > .photo
    > .intro > .photo
    > .home-block > .photo
      left: -14px

    .body

      img
        display: block
        margin: 1em auto

        &.left, &.right
          float: none
          margin: 1em auto

// Odd one
@media (max-width: 650px)

  .toc-nav
  .collection-nav
    display: none
  
  article
    
    .body

      img
        max-width: 300px
    
    .sponsor
      float: none
      width: 100%
      margin: 1em auto

    ul.grid-2
      > li
        width: 100%
        margin: 0.8em 0 0 0

  article.home
    .collections
      > ul
        > li
          width: 100%
          margin: 0.8em 0 0 0

// Landscape on larger phone to smaller tablet
@media (min-width: 481px) and (max-width: 767px)
  
  .container
    padding: 20px
    border-left-width: 14px

  h1
    font-size: 3em
  h2
    font-size: 2em
  h3
    font-size: 1.5em
  h4
    font-size: 1.2em

  .site-name
    font-size: 3.5em

  .site-tagline
    margin-bottom: 2.5em

  .main-nav
  .toc-nav
  .collection-nav
    margin: 8px 8px 0 0

  article

    > .photo
    > .intro > .photo
    > .home-block > .photo
      left: -20px


// Portrait tablet to landscape and desktop
// @media (min-width: 768px) and (max-width: 979px)


// Large desktop
// @media (min-width: 1200px)

