/* Responsive styles */

@media (max-width: 480px)

  body
    font-size: 14px

  .container
    padding: 50px 14px 14px 14px
    border-left-width: 8px

  h1
    font-size: 2.5em
  h2
    font-size: 1.8em
  h3
    font-size: 1.3em
  h4
    font-size: 1.1em

  .site-name
    font-size: 2.8em
    margin-bottom: 8px

  .site-tagline
    margin-bottom: 2em

  article

    > .photo
    > .intro > .photo
    > .home-block > .photo
      left: -14px

    .body

      img
        display: block
        margin: 1em auto

        &.left, &.right
          float: none
          margin: 1em auto


@media (max-width: 640px)

  // NAVIGATION
  .main-nav
  .toc-nav
  .collection-nav
    $iconSize = 40px

    > .icon
      width: $iconSize+4
      height: $iconSize
      padding: 7px

      &.open
        height: $iconSize+11

      span
        height: 4px
        margin-bottom: 4px

    > ul
      top: $iconSize+10px

  .main-nav
    > .icon
      i
        top: -10px

  .toc-nav
  .collection-nav
    right: 50px

    > .icon
      right: 50px

      div
        height: 20px
        padding: 3px 3px 0px 3px
        margin-bottom: 2px
        span
          height: 2px
          margin-bottom: 2px

    > ul
      right: 50px

  .collection-nav
    $iconWidth = 110px

    > .icon
      width: $iconWidth
      padding: 5px 0

      div
        height: 22px
        font-size: 14px
        line-height: @height

    &.third
      right: 100px
      > .icon
        right: 100px
      > ul
        right: 100px
  //-- END NAVIGATION
 
  article
    
    .body

      img
        max-width: 300px
    
    .sponsor
      float: none
      width: 100%
      margin: 1em auto

    ul.grid-2
      > li
        width: 100%
        margin: 0.8em 0 0 0
      &.with-borders > li
        width: 100%
        margin: 0.8em 0 0 0

  article.home
    .collections
      > ul
        > li
          width: 100%
          margin: 0.8em 0 0 0

  footer
    .social-icons
      float: none
      margin: 0 0 1em 0


@media (min-width: 481px) and (max-width: 767px)
  
  .container
    padding: 20px
    border-left-width: 14px

  h1
    font-size: 3em
  h2
    font-size: 2em
  h3
    font-size: 1.5em
  h4
    font-size: 1.2em

  .site-name
    font-size: 3.5em
    margin-bottom: 10px

  .site-tagline
    margin-bottom: 2.5em

  article

    > .photo
    > .intro > .photo
    > .home-block > .photo
      left: -20px


// Heights
@media (min-height: 768px)
  .main-nav
  .toc-nav
  .collection-nav
    > ul
      max-height: 600px