/* Responsive styles */

@media (max-width: 480px)

  body
    font-size: 14px

  .container
    padding: 50px 14px 14px 14px
    border-left-width: 8px

  h1
    font-size: 2.5em
  h2
    font-size: 1.8em
  h3
    font-size: 1.3em
  h4
    font-size: 1.1em

  .site-name
    font-size: 2.8em
    margin-bottom: 8px

  .site-tagline
    margin-bottom: 2em

  article

    > .photo
    > .video
    > .intro > .photo
    > .home-block > .photo
      left: -14px

    > .body

      img
        display: block
        margin: 1em auto

        &.left, &.right
          float: none
          margin: 1em auto

  .search-results-view
    left: 8px
    width: 90%


@media (max-width: 640px)

  // NAVIGATION
  .main-nav
  .toc-nav
  .collection-nav
    $iconSize = 40px
    $iconTop = 5px
    $iconRight = 5px

    top: $iconTop
    right: $iconRight

    > .icon
      top: $iconTop
      right: $iconRight
      width: $iconSize+4
      height: $iconSize
      padding: 7px
      outline: 5px solid #fff

      &.open
        height: $iconSize+11

      span
        height: 4px
        margin-bottom: 4px

    > ul
      top: $iconTop+$iconSize+5px
      right: $iconRight

  .main-nav
    > .icon
      i
        top: -10px

  .toc-nav
  .collection-nav
    $iconRight = 55px
    
    right: $iconRight

    > .icon
      right: $iconRight

      div
        height: 20px
        padding: 3px 3px 0px 3px
        margin-bottom: 2px
        span
          height: 2px
          margin-bottom: 2px

    > ul
      right: $iconRight

  .collection-nav
    // only applied for .third below
    $iconRight = 105px

    $iconWidth = 110px

    > .icon
      width: $iconWidth
      padding: 5px 0

      div
        height: 22px
        font-size: 14px
        line-height: @height

    &.third
      right: $iconRight
      > .icon
        right: $iconRight
      > ul
        right: $iconRight
  //-- END NAVIGATION
 
  article
   
    > .body

      img
        max-width: 300px
    
    .sponsor
      float: none
      width: 100%
      margin: 1em auto

  article.home
    .collections
      > ul
        > li
          width: 100%
          margin: 0.8em 0 0 0

  article.scene
    > .photo
      margin-bottom: -1em

  footer
    .social-icons
      float: none
      margin: 0 0 1em 0

  ul.grid-2
    > li
      width: 100%
      margin: 0.8em 0 0 0
    &.with-borders > li
      width: 100%
      margin: 0.8em 0 0 0


@media (min-width: 481px) and (max-width: 767px)
  
  .container
    padding: 20px
    border-left-width: 14px

  h1
    font-size: 3em
  h2
    font-size: 2em
  h3
    font-size: 1.5em
  h4
    font-size: 1.2em

  .site-name
    font-size: 3.5em
    margin-bottom: 10px

  .site-tagline
    margin-bottom: 2.5em

  article

    > .photo
    > .video
    > .intro > .photo
    > .home-block > .photo
      left: -20px

  .search-results-view
    left: 14px
    width: 80%


@media (min-width: 1100px)

  .doc-nav
    display: block
    right: 1%

@media (min-width: 1200px)

  .doc-nav
    display: block
    right: 5%

  article
    .sponsor
      position: fixed
      bottom: 0
      right: 0
      margin: 10px
      padding: 10px


// Heights

@media (max-height: 600px)
  .main-nav
  .toc-nav
  .collection-nav
    > ul
      bottom: 0

  .search-results-view
    bottom: 0
