// Following imports are part of the admin app
@import '../../../admin/static/css/mixin'

setupTheme($primaryColor = $blueColor, $secondaryColor = $lightGrey, $linkColor = null)
  
  if !$linkColor
    $linkColor = darken($primaryColor, 20%)

  .primary-color
    color: $primaryColor

  .primary-link
    color: $linkColor

  .primary-background
    background-color: $primaryColor

  .primary-border
    border-color: $primaryColor

  a
    color: $linkColor
    &.button
      background: $primaryColor

  blockquote
    border-color: $primaryColor
    &:before
      color: $primaryColor

  input[type='submit'],
  input[type='button'],
  input[type='reset'],
  button,
  .button
    background: $primaryColor
    html.no-touch &:hover
    html.touch &:active
      background: darken($primaryColor, 5%)
    &.plain
      color: $primaryColor

  .container
    border-color: $primaryColor

  .site-name
    b, strong
      color: $primaryColor

  .site-promo
    color: $primaryColor

  .main-nav
  .toc-nav
  .collection-nav
    > .icon
      background: $primaryColor
      html.no-touch &:hover
      html.touch &:active
        background: darken($primaryColor, 10%)
      &.open
        background: darken($primaryColor, 10%)
    > ul
      background: darken($primaryColor, 10%)
      &:before
        background: darken($primaryColor, 10%)
      > li
        a
          html.no-touch &:hover
          html.touch &:active
            background: darken($primaryColor, 14%)
          &.active
            background: darken($primaryColor, 20%)

  .doc-nav
    > div
      color: $primaryColor
      html.no-touch &:hover
      html.touch &:active
        color: darken($primaryColor, 5%)

  article
    h3, h4
      a
        html.no-touch &:hover
        html.touch &:active
          color: darken($linkColor, 10%)
    > .author
      border-color: $primaryColor
    .sponsor
      .label
        background: $primaryColor

  article.home
    .collections 
      border-color: $primaryColor
      > ul
        > li
          .updated
            background: $primaryColor
            border-color: $primaryColor
          html.no-touch &:hover
          html.touch &:active
            border-color: $primaryColor
            a
              background: $primaryColor
            .updated
              color: $primaryColor

  footer
    border-color: $primaryColor
    .bottom-html
      border-color: $primaryColor
    .social-icons
      a
        color: darken($primaryColor, 10%)
        html.no-touch &:hover
        html.touch &:active
          color: darken($primaryColor, 20%)
