/* Site theme.styl CSS */

.container
  position: relative
  max-width: 960px
  margin: 0
  padding: 40px
  border-left: 20px solid $primaryColor

.site-name
  margin: 0 0 8px -0.05em
  font-size: 5.25em
  line-height: 0.8em
  font-weight: $normalFont
  color: #C4C4C4
  letter-spacing: -0.07em
  word-spacing: 0em
  white-space: nowrap
  a
    color: #C4C4C4
  b, strong
    color: $primaryColor

.site-tagline
  width: 70%
  color: #C4C4C4
  font-size: 1.1em
  line-height: 1em
  margin: 0 0 3em 0

.site-promo
  color: $primaryColor
  font-size: 1.25em
  font-weight: $boldFont

.main-nav
.toc-nav
.collection-nav
  position: fixed
  top: 0
  right: 0
  padding: 0
  margin: 20px 20px 0 0
  -webkit-user-select: none
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  z-index: 20

  $iconSize = 60px

  .icon
    position: absolute
    top: 0
    right: 0
    width: $iconSize
    height: $iconSize
    padding: 10px
    background: $primaryColor
    cursor: pointer
    outline: 4px solid #fff
    white-space: nowrap

    &:hover
      background: darken($primaryColor, 10%)

    span
      display: block
      height: 7px
      margin-bottom: 5px
      background: #fff
    i
      arrow('top', 12px, #fff, 12px, 7px)
      margin: 0 auto
      display: block
      top: 2px

  > ul
    display: none
    position: absolute
    top: $iconSize+10px
    right: 0
    min-width: 260px
    max-width: 400px
    list-style-type: none
    padding: 0
    margin: 0
    background: $primaryColor
    box-shadow(-4px 4px 0 rgba(0, 0, 0, 0.1))

    &:before
      content: ''
      position: absolute
      top: -10px
      right: 0
      width: $iconSize
      height: 10px
      background: $primaryColor

    > li
      padding: 0

      a
        display: block
        padding: 10px 20px
        font-size: 1.2em
        font-weight: $normalFont
        color: #fff

        &:hover
          background: darken($primaryColor, 5%)

        &.active
          background: darken($primaryColor, 10%)

      &.heading
        padding: 7px 20px
        font-size: 1.1em
        font-weight: $boldFont
        color: #fff
        border-bottom: 1px solid rgba(255,255,255,0.5)
        white-space: nowrap

        small
          color: #fff
          font-weight: $normalFont
          line-height: 1em

        a
          padding: 0
          font-size: inherit
          font-weight: inherit

      &.search-box
        padding: 10px
        
        input
          border: 0
          padding: 5px 10px
          font-size: 1.2em
          color: $textColor
          background: #fff

.toc-nav
.collection-nav
  // see above
  right: 70px

  .icon

    // OLD for the TOC icon <div>TOC</div><span></span>
    // div
    //   width: 48px
    //   height: 24px
    //   color: #fff
    //   font-size: 22px
    //   font-weight: $heavyFont
    //   line-height: 1em
    //   text-align: center
    //   margin-left: -4px
    //   overflow: hidden

    div
      height: 31px
      background: transparent
      border: 5px solid white
      padding: 7px 5px 0 5px
      margin-bottom: 5px

  > ul

    > li

      a
        font-size: 1em
        line-height: 1em

.collection-nav
  // see above
  right: 140px

  &.second
    right: 70px

  $iconWidth = 144px

  .icon
    width: $iconWidth

    div
      width: auto
      height: 30px
      color: #fff
      font-size: 26px
      font-weight: $normalFont
      line-height: 1em
      text-align: center
      margin: 3px 6px
      border: 0
      padding: 0
      overflow: hidden

  > ul

    &:before
      width: $iconWidth


article

  h3, h4
    margin: 1em 0

  ol, ul
    margin: 0 0.8em
  
  &.view
    a
      font-weight: $boldFont

  > .title
    color: $textDarkColor
    margin-bottom: 0.5em

    a
      color: $textDarkColor
      font-weight: $normalFont

    small
      font-size: 0.5em
      margin-left: 0.5em

  > .photo
  > .intro > .photo
  > .home-block > .photo
    position: relative
    left: -40px
    width: 105%
    max-height: 180px
    margin: 0 0 2em 0
    overflow: hidden

    img
      width: 100%

    &.large
      max-height: auto

  > .intro
    margin-bottom: 2em
    font-size: 1.125em
    font-weight: $boldFont
    line-height: 1.6em
    color: darken($textColor, 5%)

  > .home-block
    margin-bottom: 2em

  .sponsor
    float: right
    width: 300px
    max-width: 300px
    margin: 0.4em 0 1em 1em
    text-align: center
    background: lighten($faintGrey, 3%)
    content-box()

    .label
      color: #fff
      background: $primaryColor
      font-size: 0.875em

    .name
      font-size: 1.125em
      padding: 1em
    
    .content
      padding: 0 1em 1em 1em
      overflow: hidden

    .image img
      width: 100%
      overflow: hidden

    .video
      overflow: hidden
      iframe
        display: block

  > ul.list
    list-style-type: none
    margin: 0
    padding: 0

    > li
      margin-bottom: 2.5em
      
      .date
        display: none
        float: right
        padding: 5px 10px
        color: $lightGrey

        &.fresh-true
          // display: block

      .meta
        font-size: 0.875em
        > a
          display: inline-block
          margin-right: 2em

  ul.grid-2
    list-style-type: none
    margin: 0
    padding: 0
    clearfix()

    > li
      display: inline-block
      position: relative
      width: 48%
      padding: 0
      margin: 0.8em 0.5em 0 0
      vertical-align: top

    &.with-borders > li
      border: solid 1px $faintGrey

article.home

  .collections

    > h3
      margin-bottom: 0.5em
    
    > ul
      list-style-type: none
      margin: 0
      padding: 0
      clearfix()

      > li
        display: inline-block
        position: relative
        width: 48%
        padding: 0
        margin: 0.8em 0.5em 0 0
        border: solid 1px $faintGrey

        .name
          margin: 0
          a
            display: block
            padding: 1em

        .updated
          display: none
          position: absolute
          top: -6px
          right: -6px
          padding: 2px 10px
          background: $primaryColor
          color: #fff
          border: 1px solid $primaryColor
          min-height: 20px

          &.fresh-true
            display: block

        &:hover
          border-color: $primaryColor

          a
            color: #fff
            background: $primaryColor

          .updated
            color: $primaryColor
            background: #fff

article.essay

  .meta
    font-size: 0.875em
    line-height: 1.5em
    margin: 2em 0
    > div
      display: inline-block
      margin-right: 2em

  .author
    margin-top: 2em
    padding-top: 2em
    border-top: 1px solid $primaryColor

    .photo
      float: left
      width: 10%
      min-width: 30px
      img
        width: 100%
        max-width: 100%

    .content
      display: inline-block
      width: 88%
      padding-left: 1em

      .name
        margin: 0 0 0.5em 0

      .bio
        font-size: 0.875em
        line-height: 1.5em

      .links
        list-style-type: none
        margin: 0
        padding: 0
        > li
          display: inline-block
          margin-right: 2em

article.scene

  > .photo
    position: relative
    left: -40px
    width: 105%
    max-height: 360px
    margin: 0 0 1em 0
    overflow: hidden

    img
      width: 100%


footer
  margin-top: 2em
  padding-top: 2em
  border-top: 1px solid $primaryColor
  color: #aaa
  clear: both

  .copyright
    font-size: 0.75em
    line-height: 1.5em
