/* Site theme.styl CSS */

.container
  position: relative
  max-width: 960px
  margin: 0
  padding: 40px
  border-left: 20px solid $primaryColor

.site-name
  margin: 0 0 14px -0.05em
  font-size: 5.25em
  line-height: 0.8em
  font-weight: $normalFont
  color: #C4C4C4
  letter-spacing: -0.06em
  word-spacing: 0em
  white-space: nowrap
  a
    color: #C4C4C4
  b, strong
    color: $primaryColor

.site-tagline
  color: #C4C4C4
  font-size: 1.1em
  line-height: 1em
  margin: 0 0 3em 0

.header-html
  > .content
    margin-bottom: 2em
  ins
    display: block !important

.site-promo
  color: $primaryColor
  font-size: 1.25em
  font-weight: $boldFont

.main-nav
.toc-nav
.collection-nav
  $iconSize = 60px
  $iconTop = 10px
  $iconRight = 10px

  position: absolute
  top: $iconTop
  right: $iconRight
  padding: 0
  -webkit-user-select: none
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  z-index: 20

  > .icon
    position: fixed
    top: $iconTop
    right: $iconRight
    width: $iconSize
    height: $iconSize
    padding: 10px
    background: $primaryColor
    cursor: pointer
    outline: 10px solid #fff
    white-space: nowrap
    overflow: hidden

    html.no-touch &:hover
    html.touch &:active
      background: darken($primaryColor, 10%)

    &.open
      height: $iconSize+11

    span
      display: block
      height: 7px
      margin-bottom: 5px
      background: #fff
    i
      // arrow('top', 12px, #fff, 12px, 7px)
      // margin: 0 auto
      // display: block
      // top: 2px
      position: relative
      top: -8px
      left: 50%
      margin-left: -0.5em
      color: white
      line-height: 10px

  > ul
    display: none
    position: fixed
    top: $iconTop+$iconSize+10px
    right: $iconRight
    min-width: 260px
    max-width: 400px
    max-height: 600px
    list-style-type: none
    padding: 0
    margin: 0
    background: $primaryColor
    box-shadow(-4px 4px 0 rgba(0, 0, 0, 0.1))
    overflow-y: scroll
    overflow-x: hidden
    -webkit-overflow-scrolling: touch

    > li
      padding: 0

      a
        display: block
        padding: 10px 20px
        font-size: 1.2em
        font-weight: $normalFont
        color: #fff

        html.no-touch &:hover
        html.touch &:active
          background: darken($primaryColor, 5%)

        &.active
          background: darken($primaryColor, 10%)

        i
          margin-right: 0.5em

      &.heading
        padding: 7px 20px
        font-size: 1.1em
        font-weight: $boldFont
        color: #fff
        border-bottom: 1px solid rgba(255,255,255,0.5)
        white-space: nowrap

        small
          color: #fff
          font-weight: $normalFont
          line-height: 1em

        &.as-link
          padding: 0

          a
            font-size: inherit
            font-weight: inherit

      &.search-box
        padding: 10px
        
        input
          border: 0
          padding: 5px 10px
          font-size: 1.2em
          color: $textColor
          background: #fff

.toc-nav
.collection-nav
  $iconRight = 80px
  
  // Let's make it hidden by default
  display: none
  right: $iconRight

  > .icon
    right: $iconRight

    // For the TOC icon <div>TOC</div><span></span>
    // div
    //   width: 48px
    //   height: 24px
    //   color: #fff
    //   font-size: 20px
    //   line-height: @font-size
    //   font-weight: $boldFont
    //   text-align: center
    //   text-transform: uppercase
    //   margin-left: -4px
    //   overflow: hidden

    // For the rectangle icon <div><span></span><span></span><span></span></div>
    div
      height: 31px
      background: transparent
      border: 2px solid white
      padding: 3px 3px 0px 3px
      margin-bottom: 5px
      span
        height: 5px
        margin-bottom: 3px
        opacity: 0.5
        &:nth-child(2n)
          opacity: 1

  > ul
    right: $iconRight

    > li

      a
        font-size: 1em
        line-height: 1.15em

.collection-nav
  // only applied for .third below
  $iconRight = 150px

  $iconWidth = 146px

  > .icon
    width: $iconWidth
    padding: 10px 0

    div
      width: auto
      height: 36px
      color: #fff
      font-size: 20px
      line-height: @height
      font-weight: $normalFont
      text-align: center
      text-transform: uppercase
      margin: 0
      border: 0
      padding: 0
      overflow: hidden

  &.third
    right: $iconRight
    > .icon
      right: $iconRight
    > ul
      right: $iconRight


.doc-nav
  display: none
  position: fixed
  top: 40%
  right: 5%
  white-space: nowrap

  > div
    display: inline-block
    color: $primaryColor
    font-size: 4em
    line-height: 1em
    padding: 10px
    margin: 0
    cursor: pointer
    html.no-touch &:hover
    html.touch &:active
      color: darken($primaryColor, 5%)
      background: #f3f3f3

    &.disabled
      color: $faintGrey
      cursor: default
      html.no-touch &:hover
      html.touch &:active
        color: $faintGrey
        background: transparent

  > small
    display: block
    font-size: 0.7em
    line-height: 1.3em
    text-align: center
    color: #CCC


article

  h3, h4
    margin: 1em 0

    a
      html.no-touch &:hover
      html.touch &:active
        color: darken($linkColor, 10%)

  ol, ul
    margin: 0 0.8em

  p
    
    &.center
      text-align: center

    &.right
      text-align: right
  
  &.view
    a
      font-weight: $boldFont

  > .title
    color: $textDarkColor
    margin-bottom: 0.5em

    a
      color: $textDarkColor
      font-weight: $normalFont

      .icon
        margin-right: 0.4em

    small
      font-size: 0.5em
      margin-left: 0.5em

  > .photo
  > .intro > .photo
  > .home-block > .photo
    position: relative
    left: -40px
    width: 105%
    max-height: 180px
    margin: 0 0 2em 0
    overflow: hidden

    img
      display: block
      width: 100%
    
    .shade
      position: absolute
      top: -10px
      left: 0
      bottom: -10px
      width: 20px
      box-shadow: inset 8px 0 12px rgba(0, 0, 0, 0.5)

    &.large
      max-height: initial

  > .video
  > .intro > .video
  > .home-block > .video
    position: relative
    left: -40px
    width: 105%
    max-height: 360px
    margin: 0 0 2em 0
    background: #000
    overflow: hidden

    .wrapper
      display: block
      position: relative
      padding-bottom: 56.25% /* 16:9 */
      padding-top: 25px
      height: 0
      max-width: 640px
      margin: 0 auto

      iframe
      object
      embed
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100% !important
        height: 100% !important
        max-height: 360px

  > .intro
    margin-bottom: 2em
    font-size: 1.125em
    font-weight: $boldFont
    line-height: 1.6em
    color: darken($textColor, 5%)

  > .home-block
    margin-bottom: 2em

  > .meta
    font-size: 0.875em
    line-height: 1.5em
    margin: 2em 0
    > div
      display: inline-block
      margin-right: 2em

  > .author
    margin-top: 2em
    padding-top: 2em
    border-top: 1px solid $primaryColor

    .photo
      float: left
      width: 10%
      min-width: 30px
      margin-bottom: 2em
      img
        display: block
        width: 100%
        max-width: 100%

    .content
      display: inline-block
      width: 88%
      padding-left: 1em

      .name
        margin: 0 0 0.5em 0

      .bio
        font-size: 0.875em
        line-height: 1.5em

      .links
        list-style-type: none
        margin: 0
        padding: 0
        > li
          display: inline-block
          margin-right: 2em

  .sponsor
    float: right
    width: 300px
    max-width: 300px
    margin: 0.4em 0 1em 1em
    text-align: center
    background: lighten($faintGrey, 3%)
    content-box()

    .label
      color: #fff
      background: $primaryColor
      font-size: 0.875em

    .name
      font-size: 1.125em
      padding: 1em
    
    .content
      padding: 0 1em 1em 1em
      overflow: hidden

    .image
      overflow: hidden
      img
        width: 100%

    .video
      overflow: hidden
      iframe
        display: block
        max-width: 100%

    .embed
      width: 100%
      // border: 1px solid $faintGrey
      // border-top: 0
      overflow: hidden

      ins
        display: block !important

  > ul.list
    list-style-type: none
    margin: 0
    padding: 0

    > li
      margin-bottom: 2.5em

      h3
        padding-left: 1.5em

        a
          .icon
            margin-left: -1.5em
            margin-right: 0.5em
            color: $textColor

            &.fresh-true
              // color: $textColor
      
      .date
        display: none
        float: right
        padding: 5px 10px
        color: $lightGrey
        white-space: nowrap

        &.fresh-true
          display: block

      .meta
        font-size: 0.875em
        > a
          display: inline-block
          margin-right: 2em

article.home

  .collections
    margin-top: 2em
    padding-top: 2em
    border-top: 1px solid $primaryColor
    clear: both

    > h3
      margin-top: 0
      color: $lightGrey
      font-size: 1.5em
      text-align: center
      text-transform: uppercase
    
    > ul
      list-style-type: none
      margin: 0
      padding: 0
      clearfix()

      > li
        display: inline-block
        position: relative
        width: 47%
        padding: 0
        margin: 0.5em 0.4em
        vertical-align: top
        border: solid 1px $faintGrey

        .name
          margin: 0
          a
            display: block
            padding: 1em
            
            .icon
              float: right
              margin-left: 0.3em

              &.fresh-true
                // color: $textColor

        .updated
          display: none
          position: absolute
          top: -6px
          right: -6px
          padding: 2px 10px
          background: $primaryColor
          color: #fff
          border: 1px solid $primaryColor
          min-height: 20px

          &.fresh-true
            display: block

        html.no-touch &:hover
        html.touch &:active
          border-color: $primaryColor

          a
            color: #fff
            background: $primaryColor

          .updated
            color: $primaryColor
            background: #fff

article.collection

  > .title

    a
      .icon
        position: relative
        top: 2px

article.scene

  > .photo
    max-height: initial
    margin-bottom: 1em

  > .body
    font-size: 1.3em
    line-height: 1.5em
    margin-bottom: 2em

footer
  margin-top: 2em
  padding-top: 2em
  border-top: 1px solid $primaryColor
  color: #aaa
  clear: both

  .bottom-html
    margin-bottom: 2em
    padding-bottom: 2em
    border-bottom: 1px dotted $primaryColor

  .social-icons
    float: right
    margin: 0 0 1em 1em
    white-space: nowrap

    a
      display: inline-block
      width: 30px
      height: 30px
      margin-right: 10px
      font-size: 30px
      line-height: 30px
      text-align: center
      color: $primaryColor
      overflow: hidden

      html.no-touch &:hover
      html.touch &:active
        color: darken($primaryColor, 10%)

  .footer-html

    .copyright
      font-size: 0.8em
      line-height: 1.5em
      
      a
        font-weight: $boldFont
        color: #999

        html.no-touch &:hover
        html.touch &:active
          text-decoration: underline



.search-results-view
  display: none
  position: fixed
  top: 0
  left: 20px
  width: 70%
  max-width: 600px
  max-height: 600px
  padding: 20px
  background: $faintGrey
  box-shadow(4px 4px 0 rgba(0,0,0,0.1))
  overflow-y: scroll
  overflow-x: hidden
  -webkit-overflow-scrolling: touch
  z-index: 30

  > input
    background: #fff
    margin: 1em 0
    border: 1px solid #ddd

  > ul.list
    list-style-type: none
    margin: 0
    padding: 0

    > li
      margin-bottom: 1.5em

      h3
        font-size: 1.3em
        padding-left: 1.5em

        a
          .icon
            margin-left: -1.5em
            margin-right: 0.5em
            color: $lightGrey
      
      .meta
        font-size: 0.875em
        > a
          display: inline-block
          margin-right: 2em

  > .close-button
    float: right

/* Extra helper classes */

.hide
  display: none

body.area-home
  .home-hide
    display: none
  .home-show
    display: block
body.area-collection
  .collection-hide
    display: none
  .collection-show
    display: block
body.area-doc
  .doc-hide
    display: none
  .doc-show
    display: block
body.type-essay
  .essay-hide
    display: none
  .essay-show
    display: block
body.type-video
  .video-hide
    display: none
  .video-show
    display: block
body.type-scene
  .scene-hide
    display: none
  .scene-show
    display: block
body.profile
  .profile-hide
    display: none
