<div class="buttons">
  <button class="save-button">Save</button>
  <button class="cancel-button plain">Cancel</button>
</div>
<h1>Author</h1>
<h3 class="item-title">{{name}}</h3>

<form class="author">
  <div class="error-message"></div>

  <div class="field">
    <div class="field-left required">
      <label>Site</label>
      <select name="site">
        {{#each sites}}
        <option value="{{id}}">{{name}} &mdash; {{id}}</option>
        {{/each}}
      </select>
    </div>
    <div class="field-right site-selected"></div>
  </div>
  <div class="field required">
    <label>Name</label>
    <input type="text" name="name" value="{{name}}">
  </div>
  <div class="field required">
    <label>Email</label>
    <input type="text" name="email" value="{{email}}">
  </div>
  <div class="field required">
    <label>Bio</label>
    <textarea name="bio">{{bio}}</textarea>
  </div>
  <div class="field">
    <label>Photo</label>
    <input type="text" name="photo" value="{{photo}}" placeholder="URL to photo including http://">
  </div>
  <div class="field">
    <label>Links JSON</label>
    <textarea name="links" placeholder="[{ label: url }, ...]">{{links}}</textarea>
  </div>
</form>

{{#if id}}
<button class="delete-button plain">Delete {{type}}</button>
{{/if}}