<form class="block">
  
  <div class="content">
    <h1>Block</h1>
    <h3 class="item-title">{{name}}</h3>

    <div class="error-message"></div>

    <div class="field required">
      <label>Site</label>
      <select name="site">
        <option value="" disabled>Choose a site...</option>
        {{#each sites}}
        <option value="{{id}}">{{name}} &mdash; {{id}}</option>
        {{/each}}
      </select>
      <div class="site-selected"></div>
    </div>
    <div class="field">
      <div class="field-left required">
        <label>Code</label>
        <input type="text" name="code" value="{{code}}" placeholder="ie. site_intro or site_promo">
      </div>
      <div class="field-right required">
        <label>Name</label>
        <input type="text" name="name" value="{{name}}" placeholder="Used in admin list only">
      </div>
    </div>
    <div class="field required">
      <label>Content HTML</label>
      <textarea name="content" placeholder="HTML content of the block">{{content}}</textarea>
    </div>
  </div>

  <div class="sidebar">
    <div class="buttons">
      <button class="save-button">Save</button>
      <button class="cancel-button plain">Cancel</button>
      {{#if id}}<a class="delete-button" href="#">delete {{type}}</a>{{/if}}
    </div>

    <div class="top-spacer"></div>
  </div>

</form>