<form class="collection">

  <div class="content">
    <h1>Collection</h1>
    <h3 class="item-title">{{name}}</h3>

    <div class="error-message"></div>

    <div class="field required">
      <label>Site</label>
      <select name="site">
        <option value="" disabled>Choose a site...</option>
        {{#each sites}}
        <option value="{{id}}">{{name}} &mdash; {{id}}</option>
        {{/each}}
      </select>
      <div class="site-selected"></div>
    </div>
    <div class="field required">
      <label>Name</label>
      <input type="text" name="name" value="{{name}}" placeholder="Collection name in titlecase">
    </div>
    <div class="field required">
      <label>Slug</label>
      <input type="text" name="slug" value="{{slug}}" placeholder="All lowercase and hyphens but NO spaces">
    </div>
    <div class="field">
      <label>Intro as <a class="markdown-help">Markdown/HTML</a></label>
      <textarea name="intro" placeholder="Provide a collection introduction text as Markdown/HTML">{{intro}}</textarea>
    </div>
    <div class="field">
      <div class="field-left">
        <label>Pinned</label>
        <input type="checkbox" name="pinned">
      </div>
      <div class="field-right">
        <label>Updated</label>
        <input type="text" name="updated_at" value="{{updated_at}}" placeholder="ex. Feb 20 2012 6:30 PM or leave blank">
      </div>
    </div>
  </div>

  <div class="sidebar">
    <div class="buttons">
      <button class="save-button" tabindex="0">Save</button>
      <button class="cancel-button plain" tabindex="0">Cancel</button>
      {{#if _id}}<a class="delete-button" href="#" tabindex="0">delete {{type}}</a>{{/if}}
    </div>

    <div class="top-spacer"></div>

    <h3 class="heading">Files</h3>
    <div class="field">
      <div class="upload-ui"></div>
    </div>

    <h3 class="heading">Sponsorship</h3>
    <div class="field">
      <div class="field-left">
        <label>Sponsor</label>
        <select name="sponsor_id">
          <option value="">Select a sponsor...</option>
          {{#each sponsors}}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="field-right">
        <label>Start</label>
        <input type="text" name="sponsor_start" value="{{sponsor_start}}" placeholder="Feb 20 2012 6:30 PM">
        <br class="clearfix">
        <label>End</label>
        <input type="text" name="sponsor_end" value="{{sponsor_end}}" placeholder="Feb 20 2012 6:30 PM">
      </div>
    </div>
  </div>

</form>