<div class="content">
  <h1>
    Collections
    <a class="new" href="#/collection/new">+</a>
    <span class="count">{{collections.length}}</span>
  </h1>
  <ul class="collections list">
    {{#each collections}}
    <li>
      <a class="title" href="#/collection/{{id}}"><i class="icon icon-collection"></i>{{name}}{{#if hidden}}<i class="status-icon icon-eye-off"></i>{{/if}}</a>
      <div class="meta">
        <div><a href="http://{{site}}/collection/{{slug}}" target="_blank">{{site}}/collection/<strong>{{slug}}</strong></a></div>
      </div>
    </li>
    {{/each}}
  </ul>
</div>

<div class="sidebar">
  
</div>