<form class="contact">

  <div class="content">
    <h1>Contact</h1>
    <h3 class="item-title">{{name}}</h3>

    <div class="error-message"></div>

    <div class="field required">
      <label>Name</label>
      <input type="text" name="name" value="{{name}}" placeholder="Fullname of contact person">
    </div>
    <div class="field">
      <label>Email</label>
      <input type="text" name="email" value="{{email}}" placeholder="person@example.com">
    </div>
    <div class="field">
      <label>Note</label>
      <textarea name="note" placeholder="Anything to keep for your eyes only">{{note}}</textarea>
    </div>
  </div>

  <div class="sidebar">
    <div class="buttons">
      <button class="save-button" tabindex="0">Save</button>
      <button class="cancel-button plain" tabindex="0">Cancel</button>
      {{#if _id}}<div class="delete-button"><i class="icon-trash"></i></div>{{/if}}
    </div>

    <div class="top-spacer"></div>
  </div>

</form>