<div class="buttons">
  <button class="save-button">Save</button>
  <button class="cancel-button plain">Cancel</button>
</div>
<h1>Contact</h1>
<h3 class="item-title">{{name}}</h3>

<form class="contact">
  <div class="error-message"></div>

  <div class="field required">
    <label>Name</label>
    <input type="text" name="name" value="{{name}}">
  </div>
  <div class="field">
    <label>Email</label>
    <input type="text" name="email" value="{{email}}" placeholder="contact@example.com">
  </div>
  <div class="field">
    <label>Note</label>
    <textarea name="note" placeholder="">{{note}}</textarea>
  </div>
</form>

{{#if id}}
<button class="delete-button plain">Delete {{type}}</button>
{{/if}}