<div class="content">
  <h1>Dashboard</h1>

  <ul class="drafts essays list">
    {{#each essays}}
    <li>
      <div class="actions">
        {{#unless collections}}<i class="icon-collection" title="Not in a collection"></i>{{/unless}}
        {{#unless published}}<i class="icon-pencil" title="In draft mode"></i>{{/unless}}
      </div>
      <a class="title" href="#/{{type}}/{{id}}"><i class="icon icon-{{type}}"></i>{{title}}</a>
      <div class="meta">
        <div><a href="http://{{site}}/{{type}}/{{slug}}" target="_blank"><strong>{{type}}</strong> on {{site}}</a></div>
      </div>
    </li>
    {{/each}}
  </ul>

  <ul class="drafts scenes list">
    {{#each scenes}}
    <li>
      <div class="actions">
        {{#unless collections}}<i class="icon-collection" title="Not in a collection"></i>{{/unless}}
        {{#unless published}}<i class="icon-pencil" title="In draft mode"></i>{{/unless}}
      </div>
      <a class="title" href="#/{{type}}/{{id}}"><i class="icon icon-{{type}}"></i>{{title}}</a>
      <div class="meta">
        <div><a href="http://{{site}}/{{type}}/{{slug}}" target="_blank"><strong>{{type}}</strong> on {{site}}</a></div>
      </div>
    </li>
    {{/each}}
  </ul>
</div>

<div class="sidebar">
  
</div>