<div class="content">
  <h1>
    Essays
    <a class="new" href="#/essay/new">+</a>
    <span class="count">{{essays.length}}</span>
  </h1>
  <ul class="essays list">
    {{#each essays}}
    <li>
      <div class="actions">
        {{#unless collections}}<i class="icon-collection" title="Not in a collection"></i>{{/unless}}
        {{#unless published}}<i class="icon-pencil" title="In draft mode"></i>{{/unless}}
      </div>
      <a class="title" href="#/essay/{{id}}"><i class="icon icon-essay"></i>{{title}}</a>
      <div class="meta">
        <div><a href="http://{{site}}/essay/{{slug}}" target="_blank">view on {{site}}</a></div>
      </div>
    </li>
    {{/each}}
  </ul>
</div>

<div class="sidebar">
  
</div>