<input class="filter-input" type="text" value="" placeholder="Keyword filter..." tabindex="1">
<i class="icon icon-search"></i>
<span class="clear-filter">x</span>
<div class="selected-site">
  <i class="icon icon-down-open"></i>
  <span class="site-name">All sites</span>
</div>
<ul class="site-selector">
  <li class="site-name" data-id="">All sites</li>
  {{#each sites}}
  <li class="site-name theme-{{theme}}" data-id="{{_id}}">{{{name_html}}}</li>
  {{/each}}
</ul>

<div class="filter-sort">
  <strong>Sort by</strong>
  <label><input type="radio" name="sort-by" value="dateSort" checked> Date</label>
  <label><input type="radio" name="sort-by" value="alphaSort"> Alpha</label>
</div>
