<button class="close-button small">X</button>
<h2>Help</h2>

<h3>Markdown Reference</h3>
<table class="plain">
  <tbody>
    <tr>
      <td>### Heading 3</td>
      <td></td>
      <td><h3>Heading 3</h3></td>
    </tr>
    <tr>
      <td>#### Heading 4</td>
      <td></td>
      <td><h4>Heading 4</h4></td>
    </tr>
    <tr>
      <td>**bold text**</td>
      <td></td>
      <td><strong>bold text</strong></td>
    </tr>
    <tr>
      <td>_italic text_</td>
      <td></td>
      <td><em>italic text</em></td>
    </tr>
    <tr>
      <td>
        &gt; Quoted text paragraph<br>
        &gt;<br>
        &gt; &lt;small&gt;**Name**, Some Source&lt;/small&gt;
      </td>
      <td></td>
      <td><blockquote>Quoted text paragraph<br><br><small><strong>Name</strong>, Some Source</small></blockquote></td>
    </tr>
    <tr>
      <td>
        * Bullet list<br>
        - or this<br>
        + or even this
      </td>
      <td></td>
      <td>
        <ul style="margin: 0;">
          <li>Bullet list</li>
          <li>or this</li>
          <li>or even this</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        1. Numbered list<br>
        1. another item<br>
        4. and another
      </td>
      <td></td>
      <td>
        <ol style="margin: 0;">
          <li>Numbered list</li>
          <li>order doesn't matter</li>
          <li>just like so</li>
        </ol>
      </td>
    </tr>
    <tr>
      <td>Link to [my site](http://mysite.com "Some title")</td>
      <td></td>
      <td>Link to <a title="Some title">my site</a></td>
    </tr>
    <tr>
      <td>
        <small>Button HTML code with site color:</small><br>
        &lt;a class="button" href="http://mysite.com"&gt;My Button&lt;/a&gt;
      </td>
      <td></td>
      <td><a class="button" href="javascript:void(0)">My Button</a></td>
    </tr>
    <tr>
      <td>
        <small>Button with arrow HTML code:</small><br>
        &lt;a class="button right-arrow" href="http://mysite.com"&gt;My Button &amp; Arrow&lt;/a&gt;
      </td>
      <td></td>
      <td><a class="button right-arrow" href="javascript:void(0)">My Button &amp; Arrow</a></td>
    </tr>
    <tr>
      <td>
        <small>Plain button HTML code:</small><br>
        &lt;a class="button plain" href="http://mysite.com"&gt;My Plain Button&lt;/a&gt;
      </td>
      <td></td>
      <td><a class="button plain" href="javascript:void(0)">My Plain Button </a></td>
    </tr>
    <tr>
      <td><a href="http://daringfireball.net/projects/markdown/dingus" target="_blank">Online reference</a></td>
      <td></td>
      <td>Use this site to practice writing Markdown styles.</td>
    </tr>
  </tbody>
</table>