<div class="app-logo"><a href="/">kleks</a></div>
<ul>
  <li class="dashboard"><a class="active" href="#/">Dashboard</a></li>
  <li class="sites"><a href="#/sites">Sites</a></li>
  <li class="authors"><a href="#/authors">Authors</a></li>
  <li class="collections"><a href="#/collections">Collections</a></li>
  <li class="essays"><a href="#/essays">Essays</a></li>
  <li class="blocks"><a href="#/blocks">Blocks</a></li>
  <li class="contacts"><a href="#/contacts">Contacts</a></li>
  <li class="sponsors"><a href="#/sponsors">Sponsors</a></li>
</ul>