<div class="app-logo"><a href="#/">kleks</a></div>
<form class="login">
  <input type="text" name="username" placeholder="Username" spellcheck="false" autofocus>
  <input type="password" name="password" placeholder="Password" spellcheck="false">
  <input type="submit" name="submit" value="Sign In" class="button">
</form>
<ul>
  <li class="dashboards"><a class="active" href="#/"><i class="icon icon-gauge"></i>Dashboard</a></li>
  <li class="essays"><a href="#/essays"><i class="icon icon-essay"></i>Essays</a></li>
  <li class="videos"><a href="#/videos"><i class="icon icon-video"></i>Videos</a></li>
  <li class="scenes"><a href="#/scenes"><i class="icon icon-scene"></i>Scenes</a></li>
  <!-- <li class="profiles"><a href="#/profiles"><i class="icon icon-profile"></i>Profiles</a></li> -->
  <li class="collections"><a href="#/collections"><i class="icon icon-collection"></i>Collections</a></li>
  <li class="seperator"></li>
  <li class="blocks"><a href="#/blocks"><i class="icon icon-block"></i>Blocks</a></li>
  <li class="authors"><a href="#/authors"><i class="icon icon-author"></i>Authors</a></li>
  <li class="redirects"><a href="#/redirects"><i class="icon icon-link"></i>Redirects</a></li>
  <li class="seperator"></li>
  <li class="sites"><a href="#/sites"><i class="icon icon-site"></i>Sites</a></li>
  <li class="sponsors"><a href="#/sponsors"><i class="icon icon-sponsor"></i>Sponsors</a></li>
  <li class="contacts"><a href="#/contacts"><i class="icon icon-contact"></i>Contacts</a></li>
  <li class="seperator"></li>
  <li class="logout"><a class="logout-button"><i class="icon icon-off"></i>Sign Out</a></li>
</ul>
<div class="user-greeting"></div>
<div class="offline">offline</div>
