<div class="content">
  <h1>
    Scenes
    <a class="new" href="#/scene/new">+</a>
    <span class="count">{{scenes.length}}</span>
  </h1>
  <ul class="scenes list">
    {{#each scenes}}
    <li>
      <div class="actions">
        {{#unless collections}}<i class="icon-collection" title="Not in a collection"></i>{{/unless}}
        {{#unless published}}<i class="icon-pencil" title="In draft mode"></i>{{/unless}}
      </div>
      <a class="title" href="#/scene/{{id}}"><i class="icon icon-scene"></i>{{title}}</a>
      <div class="meta">
        <div><a href="http://{{site}}/scene/{{slug}}" target="_blank">view on {{site}}</a></div>
      </div>
    </li>
    {{/each}}
  </ul>
</div>

<div class="sidebar">
  
</div>