<form class="site">
  
  <div class="content">
    <h1>Site <i class="icon icon-site"></i></h1>
    <h3 class="item-title">{{name}}</h3>

    <div class="error-message"></div>

    <div class="field required">
      <label>Site ID</label>
      <input type="text" name="_id" value="{{_id}}" placeholder="www.example.com">
    </div>
    <div class="field">
      <div class="field-left required">
        <label>Name</label>
        <input type="text" name="name" value="{{name}}" placeholder="Evolving Something">
      </div>
      <div class="field-right required">
        <label>Name HTML</label>
        <input type="text" name="name_html" value="{{name_html}}" placeholder="Evolving <b>Something</b>">
      </div>
    </div>
    <div class="field">
      <label>Tagline</label>
      <input type="text" name="tagline" value="{{tagline}}" placeholder="Yet another great Kleks site">
    </div>
    <div class="field">
      <div class="field-left">
        <label>Theme</label>
        <select name="theme">
          {{#each themes}}
          <option value="{{.}}">{{.}}</option>
          {{/each}}
        </select>
      </div>
      <div class="field-right">
        <label>Link</label>
        <input type="text" name="link" value="{{link}}" placeholder="http://www.example.com">
      </div>
    </div>
    <div class="field">
      <label>Menu HTML</label>
      <textarea name="menu_html" placeholder="">{{menu_html}}</textarea>
      <div class="note">
        Main menu list items. Only list the <code>&lt;li&gt;&lt;a href=""&gt;&lt;/a&gt;&lt;/li&gt;</code> entries.
      </div>
    </div>
    <div class="field">
      <label>Header HTML</label>
      <textarea name="header_html" placeholder="">{{header_html}}</textarea>
      <div class="note">
        Content to show on all pages in the header.
        Use <code>div.content</code> as a wrapper to get auto <code>margin-bottom</code>.
        Use classes like <code>"home-hide"</code> or <code>"hide doc-show"</code> to control display of elements if needed.
      </div>
    </div>
    <div class="field">
      <label>Bottom HTML</label>
      <textarea name="bottom_html" placeholder="">{{bottom_html}}</textarea>
      <div class="note">
        Content to show on all pages just above the footer.
      </div>
    </div>
    <div class="field">
      <label>Footer HTML</label>
      <textarea name="footer_html" placeholder="">{{footer_html}}</textarea>
      <div class="note">
        Content to show on all pages in the footer. Use <code>div.copyright</code> as a wrapper.
      </div>
    </div>
    
    <h4 class="heading">
      Social Links
      <a class="button small add-social-link" href="#">+</a>
    </h4>
    <div class="field inline social-links-list">
      {{#each social_links}}
        {{{include "partials/link-form.html"}}}
      {{/each}}
    </div>
    
    <h4 class="heading">Other</h4>
    <div class="field">
      <label>CSS</label>
      <textarea name="css" placeholder="Custom CSS to override on site">{{css}}</textarea>
    </div>
    <div class="field">
      <label>SEO Description</label>
      <input type="text" name="seo_description" value="{{seo_description}}" placeholder="Keep it concise and short">
    </div>
    <div class="field">
      <label>SEO Keywords</label>
      <input type="text" name="seo_keywords" value="{{seo_keywords}}" placeholder="Short list of comma seperated keywords">
    </div>
    <div class="field">
      <label>Google Analytics Code</label>
      <input type="text" name="google_analytics_code" value="{{google_analytics_code}}" placeholder="UA-XXXXXXXXX-XX">
    </div>
  </div>

  <div class="sidebar">
    <div class="buttons">
      <button class="save-button" tabindex="0">Save</button>
      <button class="cancel-button plain" tabindex="0">Cancel</button>
      {{#if id}}<div class="delete-button"><i class="icon-trash"></i></div>{{/if}}
    </div>

    <div class="top-spacer"></div>

    <div class="field">
      <label>Editor Email</label>
      <input type="text" name="editor_email" value="{{editor_email}}" placeholder="editor@example.com">
    </div>
    <div class="field">
      <label>Admin Email</label>
      <input type="text" name="admin_email" value="{{admin_email}}" placeholder="admin@example.com">
    </div>
    <div class="field">
      <label>Default Ad Unit <small style="font-size: 0.7em;">(HTML embed)</small></label>
      <textarea name="default_ad_unit" placeholder="e.g. Default AdSense unit embed code, or linked image markup">{{default_ad_unit}}</textarea>
      <input type="checkbox" name="default_ad_enabled" style="float: none;">Enabled
    </div>
  </div>

</form>