<form class="sponsor">

  <div class="content">
    <h1>Sponsor <i class="icon icon-sponsor"></i></h1>
    <h3 class="item-title">{{name}}</h3>

    <div class="error-message"></div>

    <div class="field required">
      <label>Name</label>
      <input type="text" name="name" value="{{name}}" placeholder="Type the sponsorship name">
    </div>
    <div class="field">
      <label>Link</label>
      <input type="text" name="link" value="{{link}}" placeholder="Full URL to link image or text to">
    </div>
    <div class="field">
      <div class="field-left">
        <label>Format</label>
        <select name="format" placeholder="Select a format...">
          <option value="text">Text</option>
          <option value="image">Image</option>
          <option value="video">Video</option>
          <option value="embed">Embed</option>
        </select>
      </div>
      <div class="field-right">
        <label>Label</label>
        <input type="text" name="label" value="{{label}}" placeholder="Override the 'Supported By' label if needed">
        <input type="checkbox" name="show_label" style="display: inline; margin: 7px 10px 7px 0;"> <small>Show label</small>
      </div>
    </div>
    <div class="field">
      <label>Content</label>
      <textarea class="default" name="content" placeholder="Type text or paste embed code of an image or video">{{content}}</textarea>
    </div>
    <div class="field">
      <label>Note</label>
      <textarea name="note" placeholder="Type a private note for your eyes only">{{note}}</textarea>
    </div>
    <div class="field">
      <label>Contact</label>
      <select name="contact_id">
        <option value="">Select a contact...</option>
        {{#each contacts}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="sidebar">
    <div class="buttons">
      <button class="save-button" tabindex="0">Save</button>
      <button class="cancel-button plain" tabindex="0">Cancel</button>
      {{#if _id}}<div class="delete-button"><i class="icon-trash"></i></div>{{/if}}
    </div>

    <div class="top-spacer"></div>

    <h3 class="heading">Files</h3>
    <div class="field">
      <div class="note">Image ads must be at least 300px wide by any hight.</div>
      <div class="upload-ui"></div>
    </div>
  </div>

</form>