<div class="content">
  <h1>
    Sponsors
    <a class="new" href="#/sponsor/new">+</a>
    <span class="count">{{sponsors.length}}</span>
  </h1>
  <ul class="sponsors list">
    {{#each sponsors}}
    <li>
      <div class="actions">
        <div>{{site}}</div>
      </div>
      <a class="title" href="#/sponsor/{{id}}"><i class="icon icon-sponsor"></i>{{name}}</a>
      <div class="meta">
        <div><a href="{{link}}">{{link}}</a></div>
        <div><strong>{{format}}</strong> format</div>
      </div>
    </li>
    {{/each}}
  </ul>
</div>

<div class="sidebar">
  
</div>