{{#if site}}
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
  
  <meta charset="utf-8">
  <title>{{title}}</title>

  <meta name="discription" content="{{site.seo_description}}">
  <meta name="keywords" content="{{site.seo_keywords}}">
  <meta name="developer" content="Markus Ochel at Markuso Web Solutions - http://www.markuso.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=3.0, user-scalable=1">
  <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->

  <meta property="og:site_name" content="{{og.site_name}}">
  <meta property="og:title" content="{{og.title}}">
  <meta property="og:description" content="{{og.description}}">
  <meta property="og:type" content="{{og.type}}">
  <meta property="og:url" content="{{og.url}}">
  <meta property="og:image" content="{{og.image}}">
  <meta property="og:video" content="{{og.video}}">
  <meta property="og:article:profile:first_name" content="{{og.first_name}}">
  <meta property="og:article:profile:last_name" content="{{og.last_name}}">
  <meta property="og:article:section" content="{{og.section}}">
  <meta property="og:article:published_time" content="{{og.published}}">
  
  {{#if site.favicon}}
  <link rel="shortcut icon" href="{{baseURL}}/file/{{site._id}}/{{site.favicon}}">
  {{else}}
  <link rel="shortcut icon" href="{{baseURL}}/static/img/favicon.ico">
  {{/if}}
  <!-- <link rel="apple-touch-icon-precomposed" href="{{baseURL}}/static/img/apple-touch-icon-precomposed.png"> -->
  <link rel="alternate" type="application/rss+xml" title="{{site.name}} RSS Feed" href="{{baseURL}}/feed">


  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:300,400,700' type='text/css'>
  <link rel="stylesheet" href="{{baseURL}}/static/css/index.css" type="text/css" media="all" charset="utf-8">
  {{#if site.theme}}
  <link rel="stylesheet" href="{{baseURL}}/static/css/themes/{{site.theme}}.css" type="text/css" media="all" charset="utf-8">
  {{/if}}

  <script src="{{baseURL}}/static/js/modernizr.custom.js"></script>

  {{#if site.css}}<style>{{{site.css}}}</style>{{/if}}

</head>
<body class="theme-{{site.theme}} layout-{{site.layout}} area-{{area}} type-{{type}}">

  <div class="container">
    <header>
      <div class="brand">
        <h1 class="site-name"><a href="{{baseURL}}/">{{{site.name_html}}}</a></h1>
        <h2 class="site-tagline">{{{site.tagline}}}</h2>
      </div>

      {{#if site.header_html}}
      <div class="header-html">{{{site.header_html}}}</div>
      {{/if}}
    </header>

    {{{content}}}

    <nav class="main-nav">
      <div class="icon">
        <span></span><span></span><span></span><i class="icon-down-open"></i>
      </div>
      <ul>
        <li class="heading">Main Menu</li>
        {{{site.menu_html}}}
        <li class="search-box">
          <input type="text" placeholder="Search" data-site="{{site._id}}" autocapitalize="off" autocorrect="off">
        </li>
      </ul>
    </nav>

    <footer>
      {{#if site.bottom_html}}
      <div class="bottom-html">{{{site.bottom_html}}}</div>
      {{/if}}

      <div class="social-icons">
        {{#each site.social_links}}
        <a href="{{url}}" title="{{label}}"><i class="icon icon-{{code}}"></i></a>
        {{/each}}
        <a href="{{baseURL}}/feed" title="RSS Feed"><i class="icon icon-rss"></i></a>
      </div>
      
      {{#if site.footer_html}}
      <div class="footer-html">{{{site.footer_html}}}</div>
      {{/if}}
    </footer>

    <div class="search-results-view">
      <button class="close-button small">X</button>
      <h2>Search</h2>
      <input type="text" placeholder="Type your search..." data-site="{{site._id}}" autocapitalize="off" autocorrect="off">
      <ul class="list"></ul>
    </div>
  </div>

  <script src="{{baseURL}}/modules.js"></script>
  <script type="text/javascript">
    var $ = require('jquery');
    var _gaq = { push: function(x){ console.log(x); } };
    $(function() {
      var app = require('lib/app');
      app.initialize({
        site: {
          id: '{{site._id}}',
          name: '{{site.name}}'
        }
      });
    });
  </script>

  {{#unless on_dev}}
    {{! Do the following on production }}
    {{#if site.google_analytics_code}}
    <script type="text/javascript">
      var _gaq = [];
      _gaq.push(['_setAccount', '{{site.google_analytics_code}}']);
      _gaq.push(['_setDomainName', 'auto']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {{/if}}
  {{/unless}}

</body>
</html>

{{else}}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:300,400,700' type='text/css'>
  <link rel="stylesheet" href="{{baseURL}}/static/css/index.css" type="text/css" media="all" charset="utf-8">
</head>
<body>
  {{{content}}}
</body>
</html>

{{/if}}