{{#if collection.css}}<style>{{{collection.css}}}</style>{{/if}}

<article class="collection layout-{{collection.layout}}">
  <h2 class="title"><a href="{{baseURL}}/collection/{{collection.slug}}"><i class="icon icon-collection"></i>{{collection.name}}</a>&nbsp;<small title="{{docs.length}} items in this collection">Collection</small></h2>

  {{#if collection.photo}}
  <section class="photo">
    <img src="/file/{{collection._id}}/{{collection.photo}}" alt="{{collection.name}}">
  </section>
  {{/if}}

  {{#if collection.intro_html}}
  <section class="intro">
    {{{collection.intro_html}}}
  </section>
  {{/if}}
  
  {{{include "partials/sponsor.html"}}}

  <ul class="list">
  {{#each docs}}
    <li>
      {{{include list_item_template}}}
    </li>
  {{/each}}
  </ul>
</article>