{{#if collection.css}}<style>{{{collection.css}}}</style>{{/if}}

<article class="collection">
  <h2 class="title">
    <a href="{{baseURL}}/collection/{{collection.slug}}">{{collection.name}}</a>&nbsp;<small>Collection</small>
  </h2>

  {{#if collection.photo}}
  <section class="photo">
    <img src="/file/{{collection._id}}/{{collection.photo}}">
  </section>
  {{/if}}

  <section class="intro">
    {{{collection.intro_html}}}
  </section>
  
  {{{include "partials/sponsor.html"}}}

  <ul class="list">
  {{#each docs}}
    <li>
      <div class="date fresh-{{fresh}}">{{published_at_html}}</div>
      <h3><a href="{{baseURL}}/{{type}}/{{slug}}">{{title}}</a></h3>
    </li>
  {{/each}}
  </ul>
</article>