{{#if doc.css}}<style>{{{doc.css}}}</style>{{/if}}

<article class="view {{doc.type}} layout-{{doc.layout}}" id="TOC-Introduction">
  <h2 class="title"><a href="{{baseURL}}/{{doc.type}}/{{doc.slug}}">{{doc.title}}</a></h2>

  {{#if doc.photo}}
  <section class="photo">
    <img src="/file/{{doc._id}}/{{doc.photo}}" alt="{{doc.title}}">
    {{#ifequal doc.type "scene"}}<div class="shade"></div>{{/ifequal}}
  </section>
  {{/if}}

  {{#if doc.video}}
  <section class="video">
    <div class="wrapper">{{{doc.video}}}</div>
  </section>
  {{/if}}

  {{#if doc.intro_html}}
  <section class="intro">
    {{{doc.intro_html}}}
  </section>
  {{/if}}

  {{{include "partials/sponsor.html"}}}

  <section class="body">
    {{{doc.body_html}}}
  </section>

  {{{include "partials/doc-meta.html"}}}
  {{{include "partials/doc-author.html"}}}
</article>

{{{include "partials/doc-navigation.html"}}}
