{{#if essay.css}}<style>{{{essay.css}}}</style>{{/if}}

<article class="view essay">
  <h2 class="title"><a href="{{baseURL}}/essay/{{essay.slug}}">{{essay.title}}</a></h2>

  {{#if essay.photo}}
  <section class="photo">
    <img src="/file/{{essay._id}}/{{essay.photo}}">
  </section>
  {{/if}}

  <section class="intro" id="TOC-Introduction">
    {{{essay.intro_html}}}
  </section>

  {{#if sponsor}}
  <section class="sponsor essay-sponsor">
    <div class="label">
      {{#if sponsor.label}}
        {{{sponsor.label}}}
      {{else}}
        Essay is sponsored by
      {{/if}}
    </div>

    {{#if sponsor.text_format}}
    <div class="name">
      {{#if sponsor.link}}
        <a href="{{sponsor.link}}">{{{sponsor.name}}}</a>
      {{else}}
        {{{sponsor.name}}}
      {{/if}}
    </div>
    <div class="content">{{{sponsor.content}}}</div>
    {{/if}}

    {{#if sponsor.image_format}}
    <div class="image">
      {{#if sponsor.link}}
        <a href="{{sponsor.link}}" target="_blank"><img src="{{sponsor.content}}" alt=""></a>
      {{else}}
        <img src="{{sponsor.content}}" alt="">
      {{/if}}
    </div>
    {{/if}}

    {{#if sponsor.video_format}}
    <div class="video">{{{sponsor.content}}}</div>
    {{/if}}
  </section>
  {{/if}}

  <section class="body">
    {{{essay.body_html}}}
  </section>

  <section class="meta">
    <div class="published"><span class="label">Published</span> {{{essay.published_at_html}}}</div>
    <div class="updated"><span class="label">Updated</span> {{{essay.updated_at_html}}}</div>
    {{#each collections}}
    <div class="collection"><a href="{{baseURL}}/collection/{{slug}}">{{name}}</a></div>
    {{/each}}
  </section>

  {{#if author}}
  <section class="author">
    {{#if author.photo}}
    <div class="photo"><img src="{{author.photo}}" alt="{{author.name}}"></div>
    {{/if}}
    <div class="content">
      <h5 class="name"><span class="label">Author</span> {{author.name}}</h5>
      <div class="bio">{{{author.bio}}}</div>
      <ul class="links">
        {{#each author.links}}
        <li><a href="{{url}}" target="_blank">{{label}}</a></li>
        {{/each}}
      </ul>
    </div>
  </section>
  {{/if}}
</article>

<nav class="toc-nav">
  <div class="icon"><div>TOC</div><span></span><i></i></div>
  <ul>
    <li class="heading">Essay's Table of Content</li>
    <li><a href="#TOC-Introduction">Introduction</a></li>
  </ul>
</nav>

<nav class="collection-nav" data-id="{{collection._id}}" data-slug="{{collection.slug}}">
  <div class="icon"><div>Collection</div><i></i></div>
  <ul>
    <li class="heading">
      <small>5 Essays in Collection:</small><br>
      {{collection.name}}
    </li>
  </ul>
</nav>